@import "/src/app/variables.scss";

.navbar {
  justify-content: left;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding-top: $primary-gap;

  @media (max-width: $breakpoint-desktop) {
    flex-direction: column-reverse;
  }

  &__content {
    flex-grow: 1;
  }

  &__cart {
    width: 350px;

    @media (max-width: $breakpoint-desktop) {
      width: 100%;
      min-height: 200px;
    }
  }
}
