$base-color: white;

$font-normal: 26px;
$font-small: 14px;
$primary-button-color: #950cde;

$gradient-from: rgba(0, 0, 0, 0.8);
$gradient-to: rgba(0, 0, 0, 0.2);

$primary-gap: 2em;

$breakpoint-desktop: 1024px;
