.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  width: 150px;
  height: 250px;

  &__img {
    width: 150px;
    height: 190px;
  }

  &__element {
    width: 100%;
    border: 2px solid white;
    font-size: 20px;
    text-align: center;
  }
}
